<template name="layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AdminPlus Lite</title>

        <!-- Material Design Icons  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Roboto Web Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
              rel="stylesheet">

        <!-- App CSS -->
    </head>
    <!--<body>-->
    <!--<div class="card">-->
    <!--<div class="sidebar sidebar-dark sidebar-left bg-primary sidebar-static sidebar-visible si-si-3"-->
    <!--data-visible="none"><a href="#" class="sidebar-brand">Memory Cycle</a>-->

    <!--<div class="sidebar-heading">Header</div>-->
    <!--<ul class="sidebar-menu">-->
    <!--<li class="sidebar-menu-item"><a class="sidebar-menu-button" href="index.html"> <i-->
    <!--class="sidebar-menu-icon material-icons">person_outline</i> Menu Item </a></li>-->
    <!--<li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button"> <i-->
    <!--class="sidebar-menu-icon material-icons">list</i> Submenu </a>-->
    <!--<ul class="sidebar-submenu">-->
    <!--<li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#">Submenu Item</a></li>-->
    <!--<li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#">Submenu Item</a></li>-->
    <!--<li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#">Submenu Item</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button"> <i-->
    <!--class="sidebar-menu-icon material-icons">business</i> Menu Item </a></li>-->
    <!--</ul>-->
    <!--<div class="sidebar-heading">Text</div>-->
    <!--<p>I'm a senior UI designer that enjoys crafting static designs.</p>-->

    <!--<div class="sidebar-heading">Tags</div>-->
    <!--<p><span class="sidebar-label label label-default">HTML</span> <span-->
    <!--class="sidebar-label label label-default">CSS</span> <span-->
    <!--class="sidebar-label label label-default">PHOTOSHOP</span> <span-->
    <!--class="sidebar-label label label-default">NODE</span> <span-->
    <!--class="sidebar-label label label-default">HTML</span>-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="container">-->
    <!--{{>header}}-->
    <!--<div id="main" class="row-fluid">-->
    <!--{{> yield}}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</body>-->

    <body class="layout-container ls-top-navbar si-l3-md-up breakpoint-1200">

    <!-- App -->
    <nav class="navbar navbar-light bg-white navbar-full navbar-fixed-top ls-left-sidebar">
        <button class="navbar-toggler pull-xs-left active" type="button" data-toggle="sidebar" data-target="#sidebar">
            <span class="material-icons">menu</span></button>
        <span class="navbar-brand">Demo</span>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link active">Docs</a></li>
        </ul>
        <iframe class="btn-github"
                src="https://ghbtns.com/github-btn.html?user=themekit&amp;repo=adminplus-bootstrap-theme&amp;type=star&amp;count=true&amp;size=small"
                frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
    </nav>
    <div class="sidebar sidebar-dark bg-primary sidebar-left si-si-3 sidebar-visible" id="sidebar">

        {{>header}}
        <div class="sidebar-heading">Decks</div>
        {{>decksList}}
        <ul class="nav components-nav sidebar-menu">
            <li class="nav-item sidebar-menu-item"><a href="#button" class="nav-link sidebar-menu-button">Button</a>
                <ul class="sidebar-submenu">
                    <li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#button">Button style</a></li>
                    <li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#button-group">Button group</a>
                    </li>
                    <li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#button-dropdown">Button
                        dropdown</a></li>
                </ul>
            </li>
            <li class="nav-item sidebar-menu-item"><a href="#forms" class="nav-link sidebar-menu-button">Forms</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#input-group" class="nav-link sidebar-menu-button">Input
                group</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#dropdown" class="nav-link sidebar-menu-button">Dropdown</a>
            </li>
            <li class="nav-item sidebar-menu-item"><a href="#jumbotron"
                                                      class="nav-link sidebar-menu-button">Jumbotron</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#label" class="nav-link sidebar-menu-button">Label</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#alert" class="nav-link sidebar-menu-button">Alert</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#card" class="nav-link sidebar-menu-button">Card</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#navs" class="nav-link sidebar-menu-button">Navs</a>
                <ul class="sidebar-submenu">
                    <li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#navs">Base</a></li>
                    <li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#tabs">Tabs</a></li>
                    <li class="sidebar-menu-item"><a class="sidebar-menu-button" href="#pills">Pills</a></li>
                </ul>
            </li>
            <li class="nav-item sidebar-menu-item"><a href="#navbar"
                                                      class="nav-link sidebar-menu-button active">Navbar</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#sidebar-example" class="nav-link sidebar-menu-button">Sidebar</a>
            </li>
            <li class="nav-item sidebar-menu-item"><a href="#breadcrumb"
                                                      class="nav-link sidebar-menu-button">Breadcrumb</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#pagination"
                                                      class="nav-link sidebar-menu-button">Pagination</a></li>
            <li class="nav-item sidebar-menu-item"><a href="#progress" class="nav-link sidebar-menu-button">Progress</a>
            </li>
            <li class="nav-item sidebar-menu-item"><a href="#list-group" class="nav-link sidebar-menu-button">List
                Group</a></li>
        </ul>
    </div>
    <div class="layout-content" data-scrollable="">
        <div class="container-fluid">


            <div class="card">
                {{> yield}}
            </div>

            <div class="card">
                <div class="card-header"><h4 class="card-title">Input group</h4></div>
                <div class="card-block">
                    <div class="input-group"><span class="input-group-addon" id="basic-addon1">@</span> <input
                            type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                    <br>

                    <div class="input-group"><input type="text" class="form-control" placeholder="Recipient's username"
                                                    aria-describedby="basic-addon2"> <span class="input-group-addon"
                                                                                           id="basic-addon2">@example.com</span>
                    </div>
                    <br> <label for="basic-url">Your vanity URL</label>

                    <div class="input-group"><span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"></div>
                    <br>

                    <div class="input-group"><span class="input-group-addon">$</span> <input type="text"
                                                                                             class="form-control"
                                                                                             aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">.00</span></div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group"><span class="input-group-btn"> <button class="btn btn-primary"
                                                                                            type="button">Go!
                            </button> </span> <input type="text" class="form-control" placeholder="Search for..."></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group"><input type="text" class="form-control"
                                                            placeholder="Search for..."> <span class="input-group-btn"> <button
                                    class="btn btn-default" type="button">Go!
                            </button> </span></div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6">
                            <div class="input-group"><span class="input-group-btn"> <button class="btn btn-danger"
                                                                                            type="button">Hate it
                            </button> </span> <input type="text" class="form-control" placeholder="Product name"> <span
                                    class="input-group-btn"> <button class="btn btn-success" type="button">Love it
                            </button> </span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header"><h4 class="card-title">Base nav</h4></div>
                <div class="card-block">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Another link</a></li>
                        <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                    </ul>
                    <hr>
                    <nav class="nav"><a class="nav-link active" href="#">Active</a> <a class="nav-link"
                                                                                       href="#">Link</a> <a
                            class="nav-link" href="#">Another link</a> <a class="nav-link disabled"
                                                                          href="#">Disabled</a></nav>
                </div>
            </div>

            <div class="card">
                <div class="card-header"><h4 class="card-title">Sidebar Colors</h4></div>
                <div class="card-block">
                    <div class="card">
                        <div class="sidebar sidebar-dark bg-primary sidebar-static sidebar-left si-si-3 sidebar-visible"
                             data-visible="none">
                            <div class="sidebar-heading">Header</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card bg-faded">
                        <div class="sidebar sidebar-light bg-white sidebar-static sidebar-left si-si-3 sidebar-visible"
                             data-visible="none">
                            <div class="sidebar-heading">Header</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-heading center" id="breadcrumb"><h2>Breadcrumb</h2>

                <p class="lead">Indicate the current page’s location within a navigational hierarchy.</p></div>
            <div class="card">
                <div class="card-header"><h4 class="card-title">Example</h4></div>
                <div class="card-block">
                    <ol class="breadcrumb">
                        <li class="active">Home</li>
                    </ol>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Library</li>
                    </ol>
                    <ol class="breadcrumb" style="margin-bottom:5px">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>

    <!-- App JS -->

    <script id="hiddenlpsubmitdiv" style="display: none;"></script>
    <script>try {
        (function () {
            for (var lastpass_iter = 0; lastpass_iter < document.forms.length; lastpass_iter++) {
                var lastpass_f = document.forms[lastpass_iter];
                if (typeof(lastpass_f.lpsubmitorig2) == "undefined") {
                    lastpass_f.lpsubmitorig2 = lastpass_f.submit;
                    if (typeof(lastpass_f.lpsubmitorig2) == 'object') {
                        continue;
                    }
                    lastpass_f.submit = function () {
                        var form = this;
                        var customEvent = document.createEvent("Event");
                        customEvent.initEvent("lpCustomEvent", true, true);
                        var d = document.getElementById("hiddenlpsubmitdiv");
                        if (d) {
                            for (var i = 0; i < document.forms.length; i++) {
                                if (document.forms[i] == form) {
                                    if (typeof(d.innerText) != 'undefined') {
                                        d.innerText = i.toString();
                                    } else {
                                        d.textContent = i.toString();
                                    }
                                }
                            }
                            d.dispatchEvent(customEvent);
                        }
                        form.lpsubmitorig2();
                    }
                }
            }
        })()
    } catch (e) {
    }</script>
    </body>

</template>