<template name="layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AdminPlus Lite</title>

        <!-- Material Design Icons  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Roboto Web Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
              rel="stylesheet">

        <!-- App CSS -->
    </head>

    <body class="layout-container ls-top-navbar si-l3-md-up breakpoint-1200">

    <!-- App -->
    <nav class="navbar navbar-light bg-white navbar-full navbar-fixed-top ls-left-sidebar">
        <button class="navbar-toggler pull-xs-left active" type="button" data-toggle="sidebar" data-target="#sidebar">
            <span class="material-icons">menu</span></button>
        <span class="navbar-brand">Demo</span>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link active">Docs</a></li>
        </ul>
        <iframe class="btn-github"
                src="https://ghbtns.com/github-btn.html?user=themekit&amp;repo=adminplus-bootstrap-theme&amp;type=star&amp;count=true&amp;size=small"
                frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
    </nav>
    <div class="sidebar sidebar-dark bg-primary sidebar-left si-si-3 sidebar-visible" id="sidebar">

        {{>header}}
        <div class="sidebar-heading">Decks</div>
        {{>decksList}}

    </div>
    <div class="layout-content" data-scrollable="">
        <div class="container-fluid">


            <div class="container">
                {{> yield}}
            </div>



            <div class="card">
                <div class="card-header"><h4 class="card-title">Base nav</h4></div>
                <div class="card-block">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Another link</a></li>
                        <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                    </ul>
                    <hr>
                    <nav class="nav"><a class="nav-link active" href="#">Active</a> <a class="nav-link"
                                                                                       href="#">Link</a> <a
                            class="nav-link" href="#">Another link</a> <a class="nav-link disabled"
                                                                          href="#">Disabled</a></nav>
                </div>
            </div>

            <div class="card">
                <div class="card-header"><h4 class="card-title">Sidebar Colors</h4></div>
                <div class="card-block">
                    <div class="card">
                        <div class="sidebar sidebar-dark bg-primary sidebar-static sidebar-left si-si-3 sidebar-visible"
                             data-visible="none">
                            <div class="sidebar-heading">Header</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card bg-faded">
                        <div class="sidebar sidebar-light bg-white sidebar-static sidebar-left si-si-3 sidebar-visible"
                             data-visible="none">
                            <div class="sidebar-heading">Header</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                                <li class="sidebar-menu-item"><a href="#" class="sidebar-menu-button">Menu Item</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- App JS -->

    <script id="hiddenlpsubmitdiv" style="display: none;"></script>
    <script>try {
        (function () {
            for (var lastpass_iter = 0; lastpass_iter < document.forms.length; lastpass_iter++) {
                var lastpass_f = document.forms[lastpass_iter];
                if (typeof(lastpass_f.lpsubmitorig2) == "undefined") {
                    lastpass_f.lpsubmitorig2 = lastpass_f.submit;
                    if (typeof(lastpass_f.lpsubmitorig2) == 'object') {
                        continue;
                    }
                    lastpass_f.submit = function () {
                        var form = this;
                        var customEvent = document.createEvent("Event");
                        customEvent.initEvent("lpCustomEvent", true, true);
                        var d = document.getElementById("hiddenlpsubmitdiv");
                        if (d) {
                            for (var i = 0; i < document.forms.length; i++) {
                                if (document.forms[i] == form) {
                                    if (typeof(d.innerText) != 'undefined') {
                                        d.innerText = i.toString();
                                    } else {
                                        d.textContent = i.toString();
                                    }
                                }
                            }
                            d.dispatchEvent(customEvent);
                        }
                        form.lpsubmitorig2();
                    }
                }
            }
        })()
    } catch (e) {
    }</script>
    </body>

</template>