<template name="deckItem">
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons">view_compact</i><span class="icon-text">{{title}}</span> <span class="label label-default">{{cards.length}}</span></a>
        <ul>
            <li><a href="index.html">Default</a></li>
            <li><a href="layout-fluid-sidebar-light.html">Sidebar Light</a></li>
            <li><a href="layout-fluid-sidebar-multiple.html">Multiple Sidebars</a></li>
            <li><a href="layout-fluid-navbar-colored.html">Navbar Colored</a></li>
            <li><a href="layout-fixed.html">Fixed Layout</a></li>
        </ul>
    </li>
</template>