<template name="learnDeckMCQ">
    <div class="card-columns">
        {{#each cardsLearnMCQ}}
            {{> learnDeckMCQItem}}
        {{/each}}
    </div>
</template>

<template name="learnDeckMCQItem">
    <div class="card" style="background-color: #333; border-color: #333; width: 400px;">
        <img class="card-img" style=" width: 100%;height: auto;" src="https://res.cloudinary.com/nightfable/image/upload/v1453125264/card9resized_wlzccl.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">
                <img class="img-responsive" style=" width: 100%;height: auto;" src="{{descriptionPhoto}}"/>
            </p>
            <p class="card-text"><b>{{keyword}}</b></p>
            <p class="card-text">{{definition}}</p>
        </div>
    </div>
    <form>
        <fieldset class="form-group">
            <input type="hidden" name="cardId" value="{{cardId}}" class="form-control" placeholder="Card name" autocomplete="off" style="cursor: auto; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAALZJREFUOBFjYKAANDQ0rGWiQD9IqzgL0BQ3IKMXiB8AcSKQ/waIrYDsKUD8Fir2pKmpSf/fv3+zgPxfzMzMSbW1tbeBbAaQC+b+//9fB4h9gOwikCAQTAPyDYHYBciuBQkANfcB+WZAbPP37992kBgIUOoFBiZGRsYkIL4ExJvZ2NhAXmFgYmLKBPLPAfFuFhaWJpAYEBQC+SeA+BDQC5UQIQpJYFgdodQLLyh0w6j20RCgUggAAEREPpKMfaEsAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
            <input type="hidden" name="keyword" value="{{keyword}}" class="form-control" placeholder="Card keyword" autocomplete="off" style="cursor: auto; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAALZJREFUOBFjYKAANDQ0rGWiQD9IqzgL0BQ3IKMXiB8AcSKQ/waIrYDsKUD8Fir2pKmpSf/fv3+zgPxfzMzMSbW1tbeBbAaQC+b+//9fB4h9gOwikCAQTAPyDYHYBciuBQkANfcB+WZAbPP37992kBgIUOoFBiZGRsYkIL4ExJvZ2NhAXmFgYmLKBPLPAfFuFhaWJpAYEBQC+SeA+BDQC5UQIQpJYFgdodQLLyh0w6j20RCgUggAAEREPpKMfaEsAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
        </fieldset>

        {{#each options}}
            <input type="radio" name="userInput" value="{{this}}">  {{this}}<br>
        {{/each}}
        <button type="submit" value="submit" class="btn btn-primary submit">Submit</button>
    </form>
</template>