<template name="cardEdit">
    <div class="card">
        <div class="card-block">
            <form>
                <fieldset class="form-group"><label for="exampleInputEmail1">Edit Card</label>
                    <input type="text" name="title" value="{{title}}" class="form-control" placeholder="Card name" autocomplete="off" style="">
                    <p class="card-text">
                        <img name="descriptionPhoto" class="img-responsive" style=" width: 100%;height: auto;" src="{{descriptionPhoto}}"/>
                    </p>
                    <div id="image_crop" style="visibility: hidden;">
                        <img id="description_image" src="">
                        <button type="button" class="btn btn-info crop-image">Crop Image</button>
                    </div>
                    <input type="file" class="file_bag" accept="image/gif, image/jpeg, image/png" />
                    <button type="button" class="upload">Upload</button>
                    <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="Card keyword" autocomplete="off" style="">
                    <input type="text" name="definition" value="{{definition}}" class="form-control" placeholder="Card definition" autocomplete="off" style="">
                </fieldset>
                <button type="submit" value="submit" class="btn btn-primary submit">Submit</button>
                <button class="btn btn-danger delete">Delete</button>
                <a class="btn btn-info" href="{{pathFor 'learningCurve'}}">Learning Curve</a>
            </form>
        </div>
    </div>
</template>

<template name="s3_tester">
    <input type="file" class="file_bag">
    <button class="upload">Upload</button>

    {{#each files}}
        <p>{{percent_uploaded}}</p>
    {{/each}}
</template>