<template name="cardItem">
    <div class="card" style="background-color: #333; border-color: #333; width: 400px;">
        <img class="card-img" src="http://res.cloudinary.com/nightfable/image/upload/c_scale,w_400/v1437833913/z5pajai7wfko8ll5nbtv.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text"><b>{{keyword}}</b></p>
            <p class="card-text">{{definition}}</p>
            {{#if ownCard}} <a href="{{pathFor 'cardEdit'}}">Edit</a> {{/if}}
        </div>
    </div>
</template>

